bin/update-* export-ignore
src/__Private/codegen/ export-ignore
src/__Private/CodegenCLI.hack export-ignore
src/codegen/data/ export-ignore
tests/ export-ignore
codegen/**/* linguist-generated
.hhconfig export-ignore
*.hack linguist-language=Hack
.vscode/** export-ignore
test-data/** export-ignore
