bin/update-* export-ignore
src/__Private/codegen/ export-ignore
src/__Private/CodegenCLI.hack export-ignore
tests/ export-ignore
codegen/ linguist-generated=true
.hhconfig export-ignore
*.hack linguist-language=Hack
